
.App {
  text-align: center;
   align: center;
}

.GameBord {
  width: 100%;
  height: 100vh;
  margin: auto;
  background-color: lightsteelblue;
}

.GameBall {
  width: 75px;
  height: 75px;
  background-color: plum;
  position: relative;
  border-radius: 50%;
}

.Title{
  color: hsl(265,70%,70%);
  text-shadow:
          0 1px 0 hsl(265,40%,60%),
          0 1px 0 hsl(265,40%,58%),
          0 3px 0 hsl(265,40%,56%),
          0 4px 0 hsl(265,40%,54%),
          0 5px 0 hsl(265,40%,52%),
          0 6px 1px hsl(265,40%,50%),
          0 0 5px hsl(265,20%,60%),
          0 1px 3px hsl(265,20%,58%),
          0 3px 5px hsl(265,20%,56%),
          0 5px 10px hsl(265,20%,54%),
          0 10px 10px hsl(265,20%,52%),
          0 15px 15px hsl(265,20%,50%);
  font-size: 100px;
}


.Knoepfe{
  width: 100%;
  height: 100vh;
  margin: auto;
  background-color: #303030;
}
 /*!*.Startknopf{*!*/
 /*  width: 200px;*/
 /*  height: 100px;*/
 /*  background-color: #303030;;*/
 /*  box-shadow:*/
 /*          0 1px 0 hsl(265,40%,60%),*/
 /*          0 1px 0 hsl(265,40%,58%),*/
 /*          0 3px 0 hsl(265,40%,56%),*/
 /*          0 4px 0 hsl(265,40%,54%),*/
 /*          0 5px 0 hsl(265,40%,52%),*/
 /*          0 6px 1px hsl(265,40%,50%),*/
 /*          0 0 5px hsl(265,20%,60%),*/
 /*          0 1px 3px hsl(265,20%,58%),*/
 /*          0 3px 5px hsl(265,20%,56%),*/
 /*          0 5px 10px hsl(265,20%,54%),*/
 /*          0 10px 10px hsl(265,20%,52%),*/
 /*          0 15px 15px hsl(265,20%,50%);*/
 /*}*/

 .Start{
   color: hsl(265,70%,70%);
   text-shadow:
           0 1px 0 hsl(265,40%,60%),
           0 1px 0 hsl(265,40%,58%),
           0 3px 0 hsl(265,40%,56%),
           0 4px 0 hsl(265,40%,54%),
           0 5px 0 hsl(265,40%,52%),
           0 6px 1px hsl(265,40%,50%),
           0 0 5px hsl(265,20%,60%),
           0 1px 3px hsl(265,20%,58%),
           0 3px 5px hsl(265,20%,56%),
           0 5px 10px hsl(265,20%,54%),
           0 10px 10px hsl(265,20%,52%),
           0 15px 15px hsl(265,20%,50%);
   font-size: 65px;
 }

 .Startknopf:hover{
background-color: black;
 }

/*.Endeknopf{*/
/*  width: 200px;*/
/*  height: 100px;*/
/*  background-color: #303030;;*/
/*  box-shadow:*/
/*          0 1px 0 hsl(265,40%,60%),*/
/*          0 1px 0 hsl(265,40%,58%),*/
/*          0 3px 0 hsl(265,40%,56%),*/
/*          0 4px 0 hsl(265,40%,54%),*/
/*          0 5px 0 hsl(265,40%,52%),*/
/*          0 6px 1px hsl(265,40%,50%),*/
/*          0 0 5px hsl(265,20%,60%),*/
/*          0 1px 3px hsl(265,20%,58%),*/
/*          0 3px 5px hsl(265,20%,56%),*/
/*          0 5px 10px hsl(265,20%,54%),*/
/*          0 10px 10px hsl(265,20%,52%),*/
/*          0 15px 15px hsl(265,20%,50%);*/

/*}*/

.Ende{

  color: hsl(265,70%,70%);
  text-shadow:
          0 1px 0 hsl(265,40%,60%),
          0 1px 0 hsl(265,40%,58%),
          0 3px 0 hsl(265,40%,56%),
          0 4px 0 hsl(265,40%,54%),
          0 5px 0 hsl(265,40%,52%),
          0 6px 1px hsl(265,40%,50%),
          0 0 5px hsl(265,20%,60%),
          0 1px 3px hsl(265,20%,58%),
          0 3px 5px hsl(265,20%,56%),
          0 5px 10px hsl(265,20%,54%),
          0 10px 10px hsl(265,20%,52%),
          0 15px 15px hsl(265,20%,50%);
  font-size: 65px;
}

.Endeknopf:hover{
  background-color: black;
}

/*.Scoreknopf{*/
/*  width: 200px;*/
/*  height: 100px;*/
/*  background-color: #303030;;*/
/*  box-shadow:*/
/*          0 1px 0 hsl(265,40%,60%),*/
/*          0 1px 0 hsl(265,40%,58%),*/
/*          0 3px 0 hsl(265,40%,56%),*/
/*          0 4px 0 hsl(265,40%,54%),*/
/*          0 5px 0 hsl(265,40%,52%),*/
/*          0 6px 1px hsl(265,40%,50%),*/
/*          0 0 5px hsl(265,20%,60%),*/
/*          0 1px 3px hsl(265,20%,58%),*/
/*          0 3px 5px hsl(265,20%,56%),*/
/*          0 5px 10px hsl(265,20%,54%),*/
/*          0 10px 10px hsl(265,20%,52%),*/
/*          0 15px 15px hsl(265,20%,50%);*/

/*}*/

.Scoreboard{

  color: hsl(265,70%,70%);
  text-shadow:
          0 1px 0 hsl(265,40%,60%),
          0 1px 0 hsl(265,40%,58%),
          0 3px 0 hsl(265,40%,56%),
          0 4px 0 hsl(265,40%,54%),
          0 5px 0 hsl(265,40%,52%),
          0 6px 1px hsl(265,40%,50%),
          0 0 5px hsl(265,20%,60%),
          0 1px 3px hsl(265,20%,58%),
          0 3px 5px hsl(265,20%,56%),
          0 5px 10px hsl(265,20%,54%),
          0 10px 10px hsl(265,20%,52%),
          0 15px 15px hsl(265,20%,50%);
  font-size: 35px;
}

.Scoreknopf:hover{
  background-color: black;
}

