
.App {
    text-align: center;
}

.GameBord {
    width: 100%;
    height: 100vh;
    margin: auto;
    background-color: lightsteelblue;
}

.ScoreBord {
    width: 100%;
    height: 100vh;
    margin: auto;
    background-color: #303030;
}

.GameBall {
    width: 75px;
    height: 75px;
    background-color: plum;
    position: relative;
    border-radius: 50%;
}

.Title {
    color: hsl(265, 70%, 70%);
    text-shadow: 0 1px 0 hsl(265, 40%, 60%),
    0 1px 0 hsl(265, 40%, 58%),
    0 3px 0 hsl(265, 40%, 56%),
    0 4px 0 hsl(265, 40%, 54%),
    0 5px 0 hsl(265, 40%, 52%),
    0 6px 1px hsl(265, 40%, 50%),
    0 0 5px hsl(265, 20%, 60%),
    0 1px 3px hsl(265, 20%, 58%),
    0 3px 5px hsl(265, 20%, 56%),
    0 5px 10px hsl(265, 20%, 54%),
    0 10px 10px hsl(265, 20%, 52%),
    0 15px 15px hsl(265, 20%, 50%);
    font-size: 100px;
    text-decoration: underline;
}


.Knoepfe {
    width: 100%;
    height: 100vh;
    margin: auto;
    background-color: #303030;
}

.Startknopf:hover {
    color: hsl(318, 100%, 21%);
}

.Startknopf:active {
    color: hsl(316, 100%, 50%);
}

.Startknopf {
    width: 75%;
    margin: 0 auto;
    height: 125px;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    margin-top: 100px;
    font-size: 9.5vw;
}

.textstyle {
    color: hsl(265, 70%, 70%);
    text-shadow: 0 1px 0 hsl(265, 40%, 60%),
    0 1px 0 hsl(265, 40%, 58%),
    0 3px 0 hsl(265, 40%, 56%),
    0 4px 0 hsl(265, 40%, 54%),
    0 5px 0 hsl(265, 40%, 52%),
    0 6px 1px hsl(265, 40%, 50%),
    0 0 5px hsl(265, 20%, 60%),
    0 1px 3px hsl(265, 20%, 58%),
    0 3px 5px hsl(265, 20%, 56%),
    0 5px 10px hsl(265, 20%, 54%),
    0 10px 10px hsl(265, 20%, 52%),
    0 15px 15px hsl(265, 20%, 50%);
}

.normalText {
    font-size: 3vw;
}
